// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import "~tailwindcss/base";
//
@import "~tailwindcss/components";
//
@import "~tailwindcss/utilities";
//
@import "~vuetify/dist/vuetify.min.css";

$mdi-font-path: "~@mdi/font/fonts" !default;
@import '~@mdi/font/scss/materialdesignicons';
.v-application .light-blue.darken-1{
    background: linear-gradient(40deg,#0097a7,#303f9f)!important;
}

.rounded-m{
    border-radius: 3px;
}
.rounded-lg{
    border-radius: 5px;
}

.v-list-group.v-list-group--no-action{
    .v-list-item--active.v-list-item.v-list-item--link.theme--dark{
        background: rgba(255, 255, 255, 0.47843137254901963) !important;
        color:#fff!important;
    }
}

.small{
    font-size: 11px;
}
.h-100{
    height: 100% !important;
}
@import "default_veriables.scss";
